---
http_interactions:
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/Rate
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>6D02C98DCD321654</AccessLicenseNumber>
          <UserId>meighanr</UserId>
          <Password>Fuzzyfionas123</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <RatingServiceSelectionRequest>
          <Request>
            <RequestAction>Rate</RequestAction>
            <RequestOption>Shop</RequestOption>
          </Request>
          <PickupType>
            <Code>01</Code>
          </PickupType>
          <CustomerClassification>
            <Code>01</Code>
          </CustomerClassification>
          <Shipment>
            <Shipper>
              <Address>
                <City>Seattle</City>
                <StateProvinceCode>WA</StateProvinceCode>
                <PostalCode>98101</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </Shipper>
            <ShipTo>
              <Address>
                <City>San Francisco</City>
                <StateProvinceCode>CA</StateProvinceCode>
                <PostalCode>94104</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </ShipTo>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>15.0</Length>
                <Width>10.0</Width>
                <Height>4.5</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>7.5</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
          </Shipment>
        </RatingServiceSelectionRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RatingServiceSelectionResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><RatedShipment><Service><Code>03</Code></Service><RatedShipmentWarning>Your invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>8.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>15.36</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>15.36</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery/><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>15.36</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>15.36</MonetaryValue></TotalCharges><Weight>7.5</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>8.0</Weight></BillingWeight></RatedPackage></RatedShipment><RatedShipment><Service><Code>12</Code></Service><RatedShipmentWarning>Your invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>8.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>29.97</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>29.97</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery>3</GuaranteedDaysToDelivery><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>29.97</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>29.97</MonetaryValue></TotalCharges><Weight>7.5</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>8.0</Weigh[...]
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/TimeInTransit
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>6D02C98DCD321654</AccessLicenseNumber>
          <UserId>meighanr</UserId>
          <Password>Fuzzyfionas123</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <TimeInTransitRequest>
          <Request>
            <RequestAction>TimeInTransit</RequestAction>
          </Request>
          <TransitFrom>
            <AddressArtifactFormat>
              <PoliticalDivision2>Seattle</PoliticalDivision2>
              <PoliticalDivision1>WA</PoliticalDivision1>
              <CountryCode>US</CountryCode>
              <PostcodePrimaryLow>98101</PostcodePrimaryLow>
              <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
            </AddressArtifactFormat>
          </TransitFrom>
          <TransitTo>
            <AddressArtifactFormat>
              <PoliticalDivision2>San Francisco</PoliticalDivision2>
              <PoliticalDivision1>CA</PoliticalDivision1>
              <CountryCode>US</CountryCode>
              <PostcodePrimaryLow>94104</PostcodePrimaryLow>
              <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
            </AddressArtifactFormat>
          </TransitTo>
          <ShipmentWeight>
            <UnitOfMeasurement>
              <Code>KGS</Code>
            </UnitOfMeasurement>
            <Weight>3.402</Weight>
          </ShipmentWeight>
          <InvoiceLineTotal>
            <CurrencyCode>USD</CurrencyCode>
            <MonetaryValue>2000</MonetaryValue>
          </InvoiceLineTotal>
          <PickupDate>20160122</PickupDate>
        </TimeInTransitRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><TimeInTransitResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><TransitResponse><PickupDate>2016-01-22</PickupDate><TransitFrom><AddressArtifactFormat><PoliticalDivision2>SEATTLE</PoliticalDivision2><PoliticalDivision1>WA</PoliticalDivision1><Country>UNITED
        STATES</Country><CountryCode>US</CountryCode><PostcodePrimaryLow>98101</PostcodePrimaryLow></AddressArtifactFormat></TransitFrom><TransitTo><AddressArtifactFormat><PoliticalDivision2>SAN
        FRANCISCO</PoliticalDivision2><PoliticalDivision1>CA</PoliticalDivision1><Country>UNITED
        STATES</Country><CountryCode>US</CountryCode><PostcodePrimaryLow>94104</PostcodePrimaryLow><ResidentialAddressIndicator></ResidentialAddressIndicator></AddressArtifactFormat></TransitTo><ShipmentWeight><UnitOfMeasurement><Code>KGS</Code></UnitOfMeasurement><Weight>3.4</Weight></ShipmentWeight><InvoiceLineTotal><CurrencyCode>USD</CurrencyCode><MonetaryValue>2000.00</MonetaryValue></InvoiceLineTotal><Disclaimer>Services
        listed as guaranteed are backed by a money-back guarantee for transportation
        charges only. UPS guarantees the day of delivery for every ground package
        you ship to any address within all 50 states and Puerto Rico. See Terms and
        Conditions in the Service Guide for details.</Disclaimer><ServiceSummary><Service><Code>1DMS</Code><Description>UPS
        Next Day Air Early (Saturday Delivery)</Description></Service><Guaranteed><Code>N</Code></Guaranteed><EstimatedArrival><BusinessTransitDays>1</BusinessTransitDays><Time>09:00:00</Time><PickupDate>2016-01-22</PickupDate><PickupTime>17:00:00</PickupTime><Date>2016-01-23</Date><DayOfWeek>SAT</DayOfWeek><CustomerCenterCutoff>16:00:00</CustomerCenterCutoff></EstimatedArrival><SaturdayDelivery>1</SaturdayDelivery><SaturdayDeliveryDisclaimer>Saturday
        Delivery is available for an additional charge.</SaturdayDeliveryDisclaimer></ServiceSummary><ServiceSummary><Service><Code>1DAS</Code><Description>UPS
        Next Day Air (Saturday Delivery)</Description></Service><Guaranteed><Code>N</Code></Guaranteed><EstimatedArrival><BusinessTransitDays>1</BusinessTransitDays><Time>12:00:00</Time><PickupDate>2016-01-22</PickupDate><PickupTime>17:00:00</PickupTime><Date>2016-01-23</Date><DayOfWeek>SAT</DayOfWeek><CustomerCenterCutoff>16:00:[...]
- request:
    method: get
    uri: http://production.shippingapis.com/ShippingAPI.dll?API=RateV4&XML=%3C?xml%20version=%221.0%22?%3E%0A%3CRateV4Request%20USERID=%22677JADED7283%22%3E%0A%20%20%3CPackage%20ID=%220%22%3E%0A%20%20%20%20%3CService%3EALL%3C/Service%3E%0A%20%20%20%20%3CFirstClassMailType/%3E%0A%20%20%20%20%3CZipOrigination%3E98101%3C/ZipOrigination%3E%0A%20%20%20%20%3CZipDestination%3E94104%3C/ZipDestination%3E%0A%20%20%20%20%3CPounds%3E0%3C/Pounds%3E%0A%20%20%20%20%3COunces%3E120.0%3C/Ounces%3E%0A%20%20%20%20%3CContainer%3ERECTANGULAR%3C/Container%3E%0A%20%20%20%20%3CSize%3ELARGE%3C/Size%3E%0A%20%20%20%20%3CWidth%3E10.00%3C/Width%3E%0A%20%20%20%20%3CLength%3E15.00%3C/Length%3E%0A%20%20%20%20%3CHeight%3E4.50%3C/Height%3E%0A%20%20%20%20%3CGirth%3E29.00%3C/Girth%3E%0A%20%20%20%20%3CMachinable%3ETRUE%3C/Machinable%3E%0A%20%20%3C/Package%3E%0A%3C/RateV4Request%3E%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Client-Ip:
      - 56.0.33.9
      X-Global-Transaction-Id:
      - '3076197101'
      Cteonnt-Length:
      - '1072'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RateV4Response><Package ID="0"><ZipOrigination>98101</ZipOrigination><ZipDestination>94104</ZipDestination><Pounds>0</Pounds><Ounces>120.0</Ounces><Size>LARGE</Size><Machinable>TRUE</Machinable><Zone>5</Zone><Postage CLASSID="3"><MailService>Priority Mail Express 1-Day&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt;</MailService><Rate>65.50</Rate></Postage><Postage CLASSID="2"><MailService>Priority Mail Express 1-Day&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt; Hold For Pickup</MailService><Rate>65.50</Rate></Postage><Postage CLASSID="1"><MailService>Priority Mail 2-Day&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt;</MailService><Rate>22.65</Rate></Postage><Postage CLASSID="4"><MailService>USPS Retail Ground&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt;</MailService><Rate>19.27</Rate></Postage><Postage CLASSID="6"><MailService>Media Mail Parcel</MailService><Rate>6.22</Rate></Postage><Postage CLASSID="7"><MailService>Library Mail Parcel</MailService><Rate>5.95</Rate></Postage></Package></RateV4Response>
  recorded_at: Fri, 22 Jan 2016 22:47:15 GMT
recorded_with: VCR 3.0.1
