---
http_interactions:
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/Rate
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>CD02C929D1E30C85</AccessLicenseNumber>
          <UserId>jennaplusplus</UserId>
          <Password>sharktothorpec4</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <RatingServiceSelectionRequest>
          <Request>
            <RequestAction>Rate</RequestAction>
            <RequestOption>Shop</RequestOption>
          </Request>
          <PickupType>
            <Code>01</Code>
          </PickupType>
          <CustomerClassification>
            <Code>01</Code>
          </CustomerClassification>
          <Shipment>
            <Shipper>
              <Address>
                <City>Beverly Hills</City>
                <StateProvinceCode>CA</StateProvinceCode>
                <PostalCode>90210</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </Shipper>
            <ShipTo>
              <Address>
                <City>Seattle</City>
                <StateProvinceCode>WA</StateProvinceCode>
                <PostalCode>98103</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </ShipTo>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>19.685</Length>
                <Width>11.811</Width>
                <Height>7.874</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>0.22</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
          </Shipment>
        </RatingServiceSelectionRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RatingServiceSelectionResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><RatedShipment><Service><Code>03</Code></Service><RatedShipmentWarning>Your invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>12.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.17</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.17</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery/><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.17</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.17</MonetaryValue></TotalCharges><Weight>0.3</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>12.0</Weight></BillingWeight></RatedPackage></RatedShipment><RatedShipment><Service><Code>12</Code></Service><RatedShipmentWarning>Your invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>12.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>36.54</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>36.54</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery>3</GuaranteedDaysToDelivery><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>36.54</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>36.54</MonetaryValue></TotalCharges><Weight>0.3</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>12.0</Weig[...]
